.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-between;
  width: 70%;
  min-height: 40vh;
  margin: 0 auto;
  padding: 1rem; }

.list_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 1rem; }
