.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  flex: 1;
  border: 1px solid black;
  & ul {
    padding: 0;
    width: 100%;
  }
}
