.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  flex: 1;
}
.container {
  margin: 1rem auto;
  padding: 1rem 0;
}
