.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  min-height: 5vh;
  background: rgba(45, 80, 133, 1);
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
  margin: 1rem auto;
}
