.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  background-color: papayawhip; }

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 1rem;
  margin: 0 auto; }

.routesContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch; }
  .routesContainer li {
    list-style: none;
    margin: 0 auto;
    padding: 0 1rem; }
    .routesContainer li a {
      cursor: pointer; }
