.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  background-color: #042e6d;
  color: white;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0.5em 1em;
  margin: 0 auto;
}

.logoContainer h2 {
  color: white;
}

.routesContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;

  & li {
    list-style: none;
    margin: 0 auto;
    padding: 0 1rem;
    & a {
      font-size: 1.25em;
      color: white;
      cursor: pointer;
    }
  }
}
